NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGlrZWQtcHVnLTY5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Tn15ydHIOlZDDecJWBRhxovbLfFoTifHRLxGHo5q93
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=
DB_USERNAME=
DB_PASSWORD=

NEXT_PUBLIC_URL=
NEXT_PUBLIC_DOMAIN=
NEXT_PUBLIC_SCHEME=

UPLOADTHING_SECRET=sk_live_fff92141e189dfed148f51a15d5cd7ccbfc4894cf8317f88916da20af1189a87
UPLOADTHING_APP_ID=cqe6p7w9v0

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_CLIENT_ID=
NEXT_PUBLIC_PLATFORM_SUBSCRIPTION_PERCENT=1
NEXT_PUBLIC_PLATFORM_ONETIME_FEE=2
NEXT_PUBLIC_PLATFORM_AGENY_PERCENT=1
NEXT_NEXUSCONJURE_PRODUCT_ID=
DATABPASE_PASSWORD=


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNGJiOWY2MzMtNGE1MC00YzFhLWIzZmQtNDc3NTQ3MWUwNGRjIiwidGVuYW50X2lkIjoiZDhiNTcxOTllYjU2Yjk4ZWEwMjJmMjUyMjIxYTQxOTY5YzA2Y2U3MTFjMmMyMGNiYmQyZDk5NzZkNzMzNjRiNSIsImludGVybmFsX3NlY3JldCI6IjgzM2JjYmEzLTY4NTUtNDAwYy1hNDFkLTM1MmYwMWU5NzYxYSJ9.e5jpRwqRYWZwFPBnICTQ3-dlJ9DluEPPXZb1bgM7_hY
PROD_DATABASE_URL=
LOCAL_DATABASE_URL=
# https://www.builder.io/c/docs/using-your-api-key
NEXT_PUBLIC_BUILDER_API_KEY=84891b80dc9f45ec91f1d89803ec95b1
